* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #2D3748;
    background-color: #FAF9F6;
}


.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}

.site-header {
    background: linear-gradient(180deg, #386d92 0%, #2b4356 100%);
    border-bottom: 3px solid #E0AF3A;
    box-shadow: 0 4px 16px #00000026;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.site-header h1 {
    font-family:Georgia, serif;
    font-style: italic;
    font-size: 2.7rem;
    margin: 0;
    color: #FFE5A1;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nav-bar ul::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #24272b;
    box-shadow:
        0 10px 0 #24272b,
        0 20px 0 #24272b,
        0 30px 0 #24272b,
        0 40px 0 #24272b;
        z-index: 1;
}

.nav-bar li {
  position: relative;
  z-index: 2;
}

.nav-bar li:nth-child(even) { 
    margin-top: 1px; 
}

.nav-bar li:nth-child(odd) { 
    margin-top: -15px; 
}


.nav-bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
    color: #FFE5A1;    
    font-weight: 700;
    font-size: 0.95rem;
    text-decoration: none;
    text-shadow: 0 2px 4px #00000080;
    transition: .2s ease;
    margin: 1rem;
}

.nav-bar img,
.nav-bar object {
  height: 45px !important;
  width: auto !important;
  margin-bottom: -2px;
  display: block;
  filter: brightness(0);
  mix-blend-mode:multiply;
}


.nav-bar img#treble-clef {
    height: 80px !important;
    margin-top: 1rem;
    width: auto;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    height: 65px;
    border-left: .30rem solid black;
    border-right: .25rem solid black;
}

.nav-bar a:hover {
    color: #E0AF3A;
    transform: translateY(-4px);
}

.home-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    background-image: url("./assets/images/homepage.svg");
    background-size: contain;
    background-position: center;
    background-color: #efe2bdb8;
    background-repeat: no-repeat;
    width: 100%;
}


.home-page p {
    padding-top: 0;
    margin-top: 0 ;
    font-size: 2rem;
    color: #355367;
    text-shadow: 0 2px 4px #00000080;
    font-family: Georgia, serif;
}

.dashboard-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5 auto 0;
    width: 100%;
    max-width: 98vw;
    gap: 1rem;
    padding: 0 2rem;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 0;
}

.dashboard-left h2 {
    font-family: Georgia, serif;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    color: #355367;
}


.xp-tracker {
    background-color: #ddc0a725;
    color: #E0AF3A;
    width: fit-content;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    box-shadow: 0 2px 8px #e0af3a4d;

}

.lesson-summary 
.instructor-notes {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    padding-left: 1.25rem;
    border-left: 4px solid #711F31;
    color: #718096;
    font-size: 0.85rem;
    line-height: 1.2;
    margin: 0;
}


.dashboard-cards-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 98vw;
    margin: 1rem auto;
    padding: 2rem 0;
    gap: 2.5rem;
    width: 100%;
}

.practice-card:has(input:checked) {
    opacity: 0.9;
    background-color: #efe2bdb8;
    border-color: #E0AF3A;
}

.practice-card input[type="checkbox"] {
  accent-color: #e0ae3a79;
  transform: scale(1.2);
  cursor: pointer;
}

.exercise-list h2 {
  font-family: Georgia, serif;
  color: #355367;
  font-size: 1.5rem;
  margin-top: 0;
  padding: .5rem 0 0 .5rem;
}


.exercise-list ul {
    box-shadow: .5rem .5rem .5rem .5rem #c3bfbd6c;
    border-radius: 10px;
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: .5rem;
}

.exercise-list {
    border: .2rem solid #c3bfbd41;
    box-shadow: 0 1px 12px 8px #c3bfbd6c;
    flex: 1;
    min-width: 0;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
    background-color: #e0af3a05;
}


.exercise-list li {
    flex: 0 0 285px;
}

aside.instructor-question {
    background-color: #e0af3a05;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    border: 1px solid #E2E8F0;
    box-shadow: 0 1px 12px 8px #c3bfbd6c;
    border-radius: 10px;
    padding: 1.5rem;
    height: 470px;
    width: 320px;
    overflow-x: scroll;
}


.submitted-question {
  background-color: #e0af3a1a;
  border-left: 4px solid #e0ae3a44;  
  color: #711F31;
  padding: 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: left;
}



.about-page {
    padding: 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
}


.about-page h1 {
    font-family: Georgia, Times, serif;
    font-size: 3rem;
    font-style: italic;
    color: #355367;
    margin-bottom: 2rem;
}

.about-profile {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    margin-bottom: 3rem;
}

.about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818175;
    border: 1px solid #d7cdbd;
    background-color: #fbf7ef;
    position: relative;
    margin: 1rem;
}

.about-photo img {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.about-photo::before {
   content: "";
   position: absolute;
   inset: 12px;
   border: 1px solid #E0AF3A;
}



.about-bio {
    border-left: 3px solid #E0AF3A;
    padding-left: 2rem;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #4A5568;
}

.about-bio p {
    margin: 0;
    text-indent: 1.25rem;
}

.contact-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    box-shadow: 0 4px 12px #00000005;
}

.contact-form h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #355367;
    margin-bottom: 1.5rem;
}

.form-field {
    margin-bottom: 1rem;

}

.form-field label {
    color: #355367;
    font-weight: 600rem;
    font-size: 0.9rem;
}

input,
textarea {
    display: block;
    width: 100%;
    border: 1px solid #E2E8F0;
    background: #FAFAFA;
    border-radius: 6px;
    padding: .75rem;
    margin: .5rem;
    transition: .2s ease;
    font-size: 0.95rem;

}

/* try to find a way for textarea to go to the right */

input:focus,
textarea:focus {
    outline: none;
    border-color: #9E3845;
    box-shadow: 0 0 0 1px #9e38451a;
    background: #FFFFFF;
}


.submit-btn {
    background-color: #9E3845;
    color:white;
    border: none;
    border-radius: 6px;
    padding: .8rem 2rem;
    font-weight: 600;
    transition: .2s ease;
}

button:not(:disabled):hover {
    background-color: #711F31;
    cursor: pointer;
    padding: .8rem 2rem;
    box-shadow: 0 4px 12px #711f3133;;
    transform: translateY(-3px);
}

button:not(:disabled):active {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px #0000001a;
}

.success-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-left: 4px solid #4c8055;
    width: fit-content;
    height: fit-content;
    background:#eef5ef;
    padding: .5rem .5rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    color:#0e7b26;
}

.success-message p {
    margin: 0;
    font-weight: 500;
}

.dismiss-btn {
   background:#3a9240;
   color:#f6efef;
   border: .1rem solid #3d4a2a;
   padding:.4rem .9rem;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.2s ease;

}

#dismiss-btn:hover {
    background: #377e3c;
    cursor: pointer;
    padding: .4rem .9rem;
    box-shadow: 0 2px 4px #0000001a;
    transform: translateY(-2px);
}

.error-message {
    color: #9d0e0e;
    font-family: system-ui, sans-serif;
    font-style: italic;
}

.library-page {
    padding: 3rem;
}

.library-page h1 {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 2.5rem;
    color: #355367;
    margin-bottom: 1.5rem;
}

.library-page select {
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 6px;
    padding: .6rem 1rem;
    font-size: 1rem;
    color: #2D3748;
    margin-bottom: 2.5rem;
}


.songs h2,
.exercises h2,
.resources h2 {
    font-family: Georgia, serif;
    color: #355367;
    border-left: 4px solid #E0AF3A;
    padding-left: 1rem;
    margin-top: 0;
}

.songs ul,
.exercises ul,
.resources ul {
    background-color: #e0af3a08;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    box-shadow: .25rem .5rem .5rem .5rem #c3bfbd6c;
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    list-style: none;
    padding: 1.5rem;
    margin: 0 0 3rem 0;
    width:  100%
}
                                         
.songs li,
.exercises li,
.resources li {
   flex: 0 0 280px;
}
/* change colors and padding on the article section which holds rules for the library cards ad applies to some aspects of the practice exercies cards. added different margins to the title, and paragraph text in the article section and changed the color of the footer font */

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    padding: 1.5rem;
    margin: auto .5rem;
    text-align: left;
    min-height: 240px;
    box-shadow: 0 8px 18px #0000000f;
    transition: .2s ease;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px #3553670f;
    border-color: #FFE5A1;
}

article h2 {
    font-family: Georgia, serif;
    color: #355367;
    font-size: 1.4rem;
    margin: 0 0 0.5rem 0;
}

article p {
    color: #718096;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

article a {
    display: inline-block;
    color: #9E3845;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

article a:hover {
    color: #711F31;
}


.footer {
    border-top: 1px solid #E2E8F0;
    color: #718096;
    padding: 15px;
    text-align: center;
    font-size: 0.85rem;
}