
header{
        border: 2px solid #000000;

}

.dashboard-top {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.dashboard-cards-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.welcome-summary {
    flex: 1;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 12px;
}

.instructor-question {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 12px;
    width: 150px;
}

article {
    display :flex;
    flex-direction: column;
    width: 180px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.xp-tracker{
    border: 2px solid #000000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.exercise-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    overflow-y: scroll;
    list-style: none;
    padding: 5px;
    margin: 5px
}

.exercise-list li {
    display: block;
}

footer #footer {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    margin: 20px;
}