* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #2D3748;
    background-color: #FAF9F6;
}


.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}

.site-header {
    background: linear-gradient(180deg, #386d92 0%, #2b4356 100%);
    border-bottom: 3px solid #E0AF3A;
    box-shadow: 0 4px 16px #00000026;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.site-header h1 {
    font-family:Georgia, serif;
    font-style: italic;
    font-size: 2.7rem;
    margin: 0;
    color: #FFE5A1;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nav-bar ul::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #24272b;
    box-shadow:
        0 10px 0 #24272b,
        0 20px 0 #24272b,
        0 30px 0 #24272b,
        0 40px 0 #24272b;
        z-index: 1;
}

.nav-bar li {
  position: relative;
  z-index: 2;
}

.nav-bar li:nth-child(even) { 
    margin-top: 1px; 
}

.nav-bar li:nth-child(odd) { 
    margin-top: -15px; 
}


.nav-bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
    color: #FFE5A1;    
    font-weight: 700;
    font-size: 0.95rem;
    text-decoration: none;
    text-shadow: 0 2px 4px #00000080;
    transition: .2s ease;
    margin: 1rem;
}

.nav-bar img,
.nav-bar object {
  height: 45px !important;
  width: auto !important;
  margin-bottom: -2px;
  display: block;
  filter: brightness(0);
  mix-blend-mode:multiply;
}


.nav-bar img#treble-clef {
    height: 80px !important;
    margin-top: 1rem;
    width: auto;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    height: 65px;
    border-left: .30rem solid black;
    border-right: .25rem solid black;
}

.nav-bar a:hover {
    color: #E0AF3A;
    transform: translateY(-4px);
}

.home-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    background-image: url("./assets/images/homepage.svg");
    background-size: contain;
    background-position: center;
    background-color: #efe2bdb8;
    background-repeat: no-repeat;
    width: 100%;
}


.home-page p {
    padding-top: 0;
    margin-top: 0 ;
    font-size: 2rem;
    color: #355367;
    text-shadow: 0 2px 4px #00000080;
    font-family: Georgia, serif;
}

.dashboard-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5 auto 0;
    width: 100%;
    max-width: 98vw;
    gap: 1rem;
    padding: 0 2rem;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 0;
}

.dashboard-left h2 {
    font-family: Georgia, serif;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    color: #355367;
}


.xp-tracker {
    background-color: #ddc0a725;
    color: #E0AF3A;
    width: fit-content;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    box-shadow: 0 2px 8px #e0af3a4d;

}

.instructor-notes {
    max-width: 100vw;
    padding-left: 1rem;
    border-left: 3px solid #b08a45;
}

.dashboard-cards-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 98vw;
    margin: 1rem auto;
    padding: 2rem 0;
    gap: 2.5rem;
    width: 100%;
}

.practice-card:has(input:checked) {
    opacity: 0.9;
    background-color: #efe2bdb8;
    border-color: #E0AF3A;
}



.instructor-question {
    background-color: #ddc0a751;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #b08b458d;
    border-radius: 10px;
    margin-left: 4rem;
    width: fit-content;
    height: 40vh;
    text-align: center;
}

.lesson-summary {
    max-width: 100vw;
    margin-left: 2rem;
    padding-left: 1rem;
    border-left: 3px solid #b08a45;
}


.exercise-list ul {
    box-shadow: .5rem .5rem .5rem .5rem #c3bfbd6c;
    border: .2rem solid #c3bfbd41;
    background-color: #ddc0a751;
    border-radius: 10px;
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    list-style: none;
    padding: .5rem;
    margin: 0;
    width: 100%;
}

.exercise-list li {
    flex: 0 0 285px;
}

.about-page {
    padding: 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
}


.about-page h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    color: #315b63;
    margin-bottom: 2rem;
}

.about-profile {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    margin-bottom: 3rem;
}

.about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818175;
    border: 1px solid #d7cdbd;
    background-color: #fbf7ef;
    position: relative;
    margin: 1rem;
}

.about-photo img {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.about-photo::before {
   content: "";
   position: absolute;
   inset: 12px;
   border: 1px solid #b08a45;
}



.about-bio {
    border-left: 3px solid #b08a45;
    padding-left: 2rem;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #42474c;
}

.about-bio p {
    margin: 0;
    text-indent: 1.25rem;
}

.contact-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    background: #fffdf8;
    border: 1px solid #ddd3c3;
    border-radius: 12px;
}

.contact-form h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #315b63;
    margin-bottom: 1.5rem;
}

.form-field {
    margin-bottom: 1rem;

}

.form-field label {
    color: #af8942;
    font-weight: 600rem;
}

input,
textarea {
    display: flex;
    border: 1px solid #d7cdbd;
    background: #faf7f0;
    border-radius: 6px;
    padding: .5rem;
    margin: .5rem;
    transition: .2s ease;
}

/* try to find a way for textarea to go to the right */

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px #eacb91;
}

.submit-btn {
    background: #315b63;
    color:white;
    border-radius: 6px;
    padding: .8rem 2rem;
}

button:not(:disabled):hover {
    background: #25464c;
    cursor: pointer;
    padding: .8rem 2rem;
    box-shadow: 0 2px 4px #0000001a;
    transform: translateY(-4px);
}

button:not(:disabled):active {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px #0000001a;
}

.success-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-left: 4px solid #4c8055;
    width: fit-content;
    height: fit-content;
    background:#eef5ef;
    padding: .5rem .5rem;
    margin-bottom: 1.5rem;
    color:#0e7b26;
}

.success-message p {
    margin: 0;
}

.dismiss-btn {
   background:#5c6e3f;
   color:#f6efef;
   border: .1rem solid #3d4a2a;
   padding:.4rem .9rem;
   border-radius: 5px;
}

#dismiss-btn:hover {
    background: #095b2f;
    cursor: pointer;
    padding: .4rem .9rem;
    box-shadow: 0 2px 4px #0000001a;
    transform: translateY(-3px);
}

.error-message {
    color: #9d0e0e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.library-page {
    padding: 2rem 3rem;
}

.library-page h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3rem;
    color: #315b63;
    margin-bottom: 1rem;
}

.library-page select {
    background-color: #fffdf8;
    border: 1px solid #d7cdbd;
    border-radius: 6px;
    padding: .6rem 1rem;
    font-size: 1rem;
    color: #30363b;
    margin-bottom: 2rem;
}

.songs, 
.exercises,
.resources {
    margin-bottom: 2rem;
}

.songs h2,
.exercises h2,
.resources h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1e2933;
    border-left: 3px solid #b08a45;
    padding-left: 1rem;
}

.songs ul,
.exercises ul,
.resources ul {
    border-radius: 10px;
    background-color: #ddc0a76c;
    box-shadow: .25rem .5rem .5rem .5rem #c3bfbd6c;
    display: flex;
     gap: .5rem;
    overflow-x: auto;
    list-style: none;
    padding: 1rem .25rem 1rem;
    margin: 0;
    width: calc(4 * 300px + 4 * 30px);
}
                                         
.songs li,
.exercises li,
.resources li {
   flex: 0 0 280px;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background: #fffdf8;
    border: 1px solid #ddd3c3;
    border-radius: 12px;
    padding: .25rem .5rem;
    margin: auto .5rem;
    text-align: center;
    min-height: 220px;
    box-shadow: 0 8px 18px #0000000f;
    transition: .2s ease;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px #0000001a;
}

article h2 {
   font-family: Georgia, serif;
   color: #315b63;
   font-size: 1.4rem;
   margin-bottom: .25rem;
}

article p {
    color: #555b63;
}

article a {
   
    display:inline-block;
    margin-top:.5rem;
    color:#b08a45;
    font-weight:600;

}
article a:hover {
    color: #315b63;
}

article div a {
   margin-right:.75rem;
}

article p {
   color:#555b63;
}



.footer {
    border-top: 1px solid #000;
    color: #b08a45;
    padding: 12px;
    text-align: center;
}